# Python per-directory caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Python per-repository caches
/.coverage*
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/
/.venv/

# Python library packaging
/build/
/dist/
/wheels/
*.egg-info/
*.egg

# macOS
.DS_Store

# Jupyter Notebook checkpoints
/.ipynb_checkpoints/
